.DS_Store
Thumbs.db

.idea/
.vscode/
*.iml
*.swp
*.swo
*.bak
*.tmp
*.log

target/
*.jar
*.war
*.ear
*.class

.gradle/
build/

.mvn/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties


node_modules/
dist/
npm-debug.log*
yarn.lock
package-lock.json
.angular/

